
</div> <!-- Cierra el contenedor principal -->
    <footer class="footer mt-auto py-3 bg-light w-100">
        <div class="container">
            <span class="text-muted">&copy; 2024 hecho por Ricardo :P</span>
        </div>
    </footer>
</body>
</html>
