{% include 'layouts/header.twig' %}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <a href="javascript:history.back()" class="btn btn-secondary mb-3">Atrás</a>
        <h2>Detalles del Curso</h2>
        <p><strong>Título:</strong> {{ course.title }}</p>
        <p><strong>Descripción:</strong> {{ course.description }}</p>
        <p><strong>Estado:</strong> {{ course.status }}</p>

        {% if course.user_id == session.user_id %}
            <a href="/courses/{{ course.id }}/edit" class="btn btn-secondary">Editar</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Eliminar</button>
        {% endif %}
    </div>
</div>

{% include 'modals/confirm_delete_modal.twig' %}

<script src="/assets/js/courses/view.js"></script>


{% include 'layouts/footer.twig' %}
